<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- link css geral -->
    <link rel="stylesheet" href="css/Style.css">

    <!-- icones fontawesome-->
    <script src="https://kit.fontawesome.com/19e27bbf66.js" crossorigin="anonymous"></script>

    <!-- favico -->
    <link rel="shortcut icon" href="../img/AtIcon.ico" type="image/x-icon">

    <title>Tabela Administrativa</title>
</head>

<body>
    <!-- section tabela -->
    <section class="table textos">
        <h1 class="titulos">Clientes</h1>
        <!-- tabela -->
        <table border="1">

            <!-- thread com campos fixos -->
            <thead>
                <tr>
                    <!-- campos fixos -->
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Endereço</th>
                    <th>CPF</th>
                    <th>Email</th>
                    <th>Defeito</th>
                    <th>Tipo Do Produto</th>
                    <!-- campo fixo para deleta e editar -->
                    <th colspan="2">Açoes</th>
                </tr>
            </thead>
            <tbody>
                <!-- uso de foreach pelo tymeleaf para ter acesso aos dados vindo do controller-->
                <tr th:each="cliente : ${clientes}">
                    <!-- uso do th:text com thymeleaf para preencher os td da tabela -->
                    <td th:text="${cliente.nome}"></td>
                    <td th:text="${cliente.telefone}"></td>
                    <td th:text="${cliente.endereco}"></td>
                    <td th:text="${cliente.cpf}"></td>
                    <td th:text="${cliente.email}"></td>
                    <td th:text="${cliente.defeito}"></td>
                    <td th:text="${cliente.tipoProduto}"></td>
                    <!-- link com os arquivos auxiliares para executar a ediçao e delete -->
                    <td>
                        <!-- link pelo tymeleaf para ter acesso ao id e setalo para ser passado na url-->
                        <a th:href="@{editarCliente/{id}(id=${cliente.id})}">
                            <abbr title="editar registro">
                                <img src="../img/icones fontwesome/edit-solid.svg" alt="icone editar">
                            </abbr>
                        </a>
                    </td>
                    <td>
                        <!-- link pelo tymeleaf para ter acesso ao id e setalo para ser passado na url-->
                        <a th:href="@{deletarCliente/{id}(id=${cliente.id})}">
                            <abbr title="excluir registro">
                                <img src="../img/icones fontwesome/trash-solid.svg" alt="icone deletar">
                            </abbr>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <!-- link para o formulario -->
    <div class="voltar_form_div">
        <a class="textos voltar_form" href="/">Adicionar Cliente</a>
    </div>

    <!-- ad -->
    <footer>
        <a target="_black" class="textos" href="https://github.com/ericrq">Desenvolvido Por Eric On<i
                class="fa fa-github"></i></a>
    </footer>
</body>

</html>